@import '@picocss/pico/css/pico.css';

.popup {
    width: 600px;
    height: 600px;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
}

/* Extras borrowed from docs page */
a[role=button] {
    margin-right: calc(var(--spacing) * .5);
}

.action {
    height: 2rem;
    width: 2rem;
    padding: 0;
    margin: 0.5rem;
}
